# This file is managed by Salt. Manual changes will be overwritten.

NameVirtualHost *:443
<VirtualHost *:80>
	RewriteEngine On
	RewriteRule ^(.*)$ https://%{HTTP_HOST}$1 [R=301,L]
</VirtualHost>
<VirtualHost *:443>
	SSLEngine on
	SSLCertificateFile /etc/pki/tls/certs/localhost.crt
	SSLCertificateKeyFile /etc/pki/tls/private/localhost.key
	ProxyPreserveHost On
	ProxyRequests     Off
	AllowEncodedSlashes On
	ProxyPass         /  http://localhost:8080/ nocanon
	ProxyPassReverse  /  http://localhost:8080/
	RequestHeader set X-Forwarded-Proto "https"
	RequestHeader set X-Forwarded-Port "443"
	<Proxy *>
	  Order deny,allow
	  Allow from all
	</Proxy>
</VirtualHost>
